body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.headersection1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    width: auto;
    padding: 10px 200px 10px 200px;
}

.header {
    font-size: 24px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.headersection2 {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    padding: 10px 200px 100px 200px;
    width: auto;
    gap: 100px;
}

.maintitle {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px 0px;
}

.image_placeholder {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    flex-shrink: 0;
}

.quote_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 200px;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.author {
    color: #1F2937;
    font-weight: 700;
    font-size: 20px;
    align-self: flex-end;
}

.empty_pic {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.random_title {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    margin: 32px auto 32px auto;
    width: 500px;
}

.random {
  display: flex;
  margin: 32px auto 50px auto;
  padding: 0px;
  justify-content: center;
  gap: 40px;
}

.random_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty_pic_text {
    width: 200px;
    text-align: center;
    padding: 5px;
}

.cta_section {
    display: flex;
    background-color: #F9FAF8;
    justify-content: center;
}

.cta_section_middle {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-shrink: 0;
    margin: 75px;
    padding: 50px 75px;
    border-radius: 5px;
}

.cta_section button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 5px 0px;
}

.ctatitle {
    font-size: 20px;
    font-weight: 700;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    padding: 20px 0px;
}